.container {
    background-color: #C2B8D9;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 30px;
}


.btnsalvar {
    background-color: #4A0E5E;
    color: white;

  }

.btn {
    margin: 0 5px;
  }

.form-label {
    font-size: 25px;
    font-weight: bold;
    color: #4A0E5E;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    color: #4A0E5E;
}

.form-check-label {
    font-size: 20px;
}



